:root {
   /*--primary-color: #6c63ff; */
  --primary-color: #1d91d0;
  --secondary-color: #444;
  --dark-color: #333;
  --light-gray: #ccc;
  --light-color: #f4f4f4;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: black;
  /*color: white;*/
  /*background-color: var(--dark-color);*/
  line-height: 1.6;
}

.resume-container {
  position: relative;
  max-width: 900px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.print-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

header,
section,
footer {
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  margin-bottom: 50px;
  background-color: var(--light-color);
  padding-top: 15px;

  h1 {
    font-size: 3em;
    margin: 0;
    font-weight: 600;
  }

  h2 {
    font-size: 1.5em;
    color: var(--primary-color);
    margin: 0 0 10px;
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
  }
}

.contact-info {
  padding-left: 20px;
}

.main-content {
  /*columns: 2;*/
  /*column-gap: 20px;*/
}

.header-left {
  text-align: left;
  width: 35%;
}

.header-center {
  flex: auto;
  text-align: center;
}

.header-right {
  flex: auto;
}

.about-me {
  padding: 1em 0 2em;
}

.section {
  margin-bottom: 50px;
}

.strong {
  font-weight: 600;
}

.with-indent {
  text-indent: 1em;
}

.contact-info {
  list-style: none;

  li {
    white-space: nowrap;
    line-height: 2em;
  }

  svg {
    margin-left: 10px;
  }
}

.section h3 {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.project {
  margin-bottom: 15px;
}

.job {
  margin-bottom: 30px;
}

.with-badge {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 0;
}

.skills:not(.with-badge) {
  column-count: 4;
}

.badge {
  background-color: var(--primary-color);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1em;
}

.profile-picture {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  margin: 20px;
  object-fit: cover;
  object-position: center right;
}

.technologies {
  border-top: 1px solid var(--light-gray);
  padding-top: 5px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding-left: 20px;

  h6 {
    padding-top: 3px;
  }
}

.tech-badge {
  font-weight: 600;
  font-size: 14px;
  padding-right: 8px;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
  color: #aaa;
}

@media screen and (min-width: 700px) {
  .header-container {
    display: -webkit-box;
    display: flex;
    gap: 10px;
    align-items: center;
    -webkit-box-pack: justify;
  }

  .contact-info {
    text-align: right;
  }
}

@media print {
  header {
    padding-top: 0;
  }

  .header-container {
    display: block;
  }

  .profile-picture {
    margin-top: 0;
  }

  .print--inline {
    display: inline-block;
    vertical-align: top;
  }

  .header-left {
    margin-top: 3em;
    width: 37%;
    margin-right: 3%;

    h2 {
      margin-top: 1em;
    }
  }

  .header-center {
    padding-top: 50px;
  }
  .header-right {
    padding-top: 60px;
    text-align: right;
    width: 32%  ;
  }
  .profile-picture {
    margin: 10px;
  }

  .print--margin-bottom {
    margin-bottom: 80px;
  }
}

@page {
  margin-bottom: 2cm;
  margin-top: 1cm;

  @top-center {
    content: "Page " counter(page) " of " counter(pages);
  }

  @bottom-center {
    content: "";
  }
}

#pageHeader{
  position: running(pageHeader);
}

#pageFooter{
  /*position: running(pageFooter);*/
}
